/* #region Common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --mol-ligher: white;
}

body
{
    font-family: 'Poppins', sans-serif;
}

.container
{
    width: 70%;
    max-width: 1176px;
    margin: auto
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

/* #endregion Common */

/* #region Header */
header
{
    text-align: center;
    background-color: var(--mol-ligher);

    nav
    {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        & a
        {
            padding: 0.5rem;
            text-decoration: none;
            font-weight: 400;
        }
    }

}

/* #endregion Header */

/* #region Main */

main
{
    min-height: 60vh;
    background-image: url('../images/page-bg.jpg');
}

/* #endregion Main */



footer {
    background-image: url('../images/footer-bottom.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    ul {
        list-style: none;

        & a {
            text-decoration: none;
        }

    }
}
